
#div1{border:1px white solid ;
      background-color:white;
      padding:5px;
      box-shadow:0 0 1px #000;
}
b{word-spacing:5px}
#div2{border:1px white solid ;
      background-color:white;
      padding:5px;
      box-shadow:0 0 1px #000;
}
span{white-space:pre-wrap;}


